#Images
*.tif filter=lfs diff=lfs merge=lfs -text
*.cubemap filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.mb filter=lfs diff=lfs merge=lfs -text
*.duf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.bin.fbx filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text

#Audio
*.wav filter=lfs diff=lfs merge=lfs -text

#Movie
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text

#Unreal Assets
*.uasset filter=lfs diff=lfs merge=lfs -text 
*.umap filter=lfs diff=lfs merge=lfs -text 
*.upk filter=lfs diff=lfs merge=lfs -text 
*.udk filter=lfs diff=lfs merge=lfs -text 


#3D 
*.blend filter=lfs diff=lfs merge=lfs -text
